@import url('http://fonts.cdnfonts.com/css/hiskyflipper');
@import url('http://fonts.cdnfonts.com/css/science-project');
body{
    margin: 0;
    background-color: rgb(58, 59, 62);
    font-family: 'Science Project', sans-serif;
}
/*header section*/
.container{
    display: flex;
   flex-direction: column;
   gap: 44px;
}
.header{
    font-family: 'HISKYFLIPPERHIBOLD', sans-serif;
    color: #5ef907;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 139px;
}
.header div{
    font-size: 48px;
    color: transparent;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    0% {
        background: linear-gradient(
            #049104, #03ff03);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
            #ad4626, #fd0000);
        -webkit-background-clip: text;
    }
}
/*result section*/
.result-section{
   color: white;
   display: flex;
   flex-direction:column;
   gap: 50px;
}
.win-lose-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
#win-text-1{
    font-size: 30px;
    font-weight: bold;
}
#win-text-2{
    font-size: 19px;
    font-weight: bold;
}
.score-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.score-img-section-1,.score-img-section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:23px;
}
.score-img{
    font-size: 76px;
}
.score-text{
    font-size: 20px;
}

/*player option section*/
.player-options-section{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 28px;
}
.player-options-section button{
    width: 160px;
    height: 160px;
    font-size: 80px;
    border: none;
    background-color: #5a5a5b;
    border-radius: 10px;
    box-shadow: 4px 5px 0px black;
    transition: 0.3s;
}
.player-options-section button:hover{
    background-color: #5a5a5b;
    box-shadow: 2px 3px 0px black;
    transform: translate(2%, 4%);
}

/*footer section */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    background-color: rgb(44, 44, 44);
}
a{
    text-decoration: none;
    color: white;
}
